*{
    margin: 0;
    padding: 0;

    }

#body{
    background-color: black;
}

#navbar{
    background-color: black;
}

#barra_nav{
    background-color: black;
    border-bottom: 1px solid whitesmoke;
}

#cinemax{
    color:crimson;
    font-weight: bolder;
}

.dropdown:hover .dropdown-menu{
    display: block;
    transition: 3.5s;
}

#navbarDropdown:hover{
    color:crimson;
}

#itens-dropdown:hover{
    background-color: crimson;
}

#itens-dropdown:focus-within{
    background-color: crimson;
}

#barra_pesquisa:focus-within{
    box-shadow: none;
    border: solid crimson 2px 

}

#botao_buscar{
    color: white;
    font-weight: 600;
    background-color: crimson;
}

#botao_buscar:hover{
    color: crimson;
    font-weight: bold;
    background-color: transparent;
    transition: 0.5s;
    
}


@media (min-width: 992px){

    #login{
        margin-top: 8px;
        margin-left: 5px;
        display: flex;
        color:#ffffff8c
    }
    
    #login:hover{
        color: crimson;
    }
    
    #link_login{
        display: flex;
        margin-top: 9px;
        margin-left: 15px;
        color:#ffffff8c
    }

    #sobre{
        background-color: transparent;
        border: transparent;
        color: #ffffff8c;
        margin-top: 2px;
        margin-left: 5px
        
    }
    
    #sobre:hover{
        color: crimson;
        background-color: #212529;
        border: solid #212529;
        box-shadow: none;
        margin-top: 1px;
        margin-left: 5px;
        background-color: transparent;
        border: transparent;
    
    }

    #imagens_carrosel{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        height: 470px;
    }

    .carousel-control-prev{
        margin-top: -100px;
        position: absolute
        
    }

    .carousel-control-next{
        margin-top: -100px;
        position: absolute
    }

    #h2_cartaz{
        margin-top: -30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    #cartas{
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        background-color: #212529;
        color: white;
    }

    
}

@media (max-width:991px){

    #login{
        display: flex;
        margin-left: 0px;
        margin-top: -24px;
        color:#ffffff8c
    }

    #login:hover{
        color: crimson;
    }

    #sobre:hover{
        color: crimson;
    }

    #sobre{
        display: flex;
        margin-left: -13px ;
        margin-top: -10px;
        color: #ffffff8c;
        background-color: transparent;
        border: transparent;
    }

    #img_login{
        width: 0px;
        height: 0px;
    }

    
    #carousel-main{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 200px;
    
    }

    #imagens_carrosel{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #h2_cartaz{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    #cartas{
        padding: 0px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        padding: auto;
        background-color: #212529;
        color: white;
    }
}


#imagens_carrosel{
    width: 100%;
    display: block;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

#cartas{
    margin-bottom: 30px;
    background-color: #212529;
    color: white;
}

#cartas:hover{
    transition: 0.3s;
    background-color: crimson;
    color: white;
}

#linha{
    padding: 0px;
    margin: 0px;
}

#container_fluido{
    padding: 0px;
    margin: 0px;
}

#coluna{
    padding: 0px;
    margin: 0px;
}

#cartas_imagens{
    width: 285px;
    height: 380px;
}

#h3_cartaz2{
    display: block;
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card-body{
    height: 100px;
}
